# env

GSHEET_SERVICE_ACCOUNT_JSON=
GSHEET_SPREADSHEET_ID=
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=
JIRA_STORY_POINTS_FIELD=customfield_10016
POLL_INTERVAL_SECONDS=20
LOG_LEVEL=info
SQLITE_DB_PATH=./data/database.db